body{
    background: linear-gradient(0.25turn, #b2c9ed, #ebf8e1, #f1ad65);
}
#treemap{
    margin-left: 250px;
    height: 600px;
    width: 1000px;
}

#piechart{
    margin-left: 300px;
    height: 600px;
    width: 600px;
}

